scope: "{{ postgresql_version }}-{{ postgresql_patroni_cluster_name }}"
name: {{ ansible_hostname }}

restapi:
  listen: {{ postgresql_hostname_ip }}:{{ postgresql_restapi_port }}
  connect_address: {{ postgresql_hostname_ip }}:{{ postgresql_restapi_port }}

etcd:
  hosts: {{ postgresql_etcd_hosts|join(',') }}

bootstrap:
  dcs:
    ttl: {{ postgresql_ttl |d(30, true) |int }}
    loop_wait: {{ postgresql_loop_wait |d(10, true) |int }}
    retry_timeout: {{ postgresql_retry_timeout |d(10, true) |int }}
    maximum_lag_on_failover: {{ postgresql_maximum_lag_on_failover |d(1048576, true) |int }}
    master_start_timeout: {{ postgresql_master_start_timeout |d(300, true) |int }}
    synchronous_mode: {{ postgresql_synchronous_mode |string |d(false, true) |lower }}
    synchronous_mode_strict: {{ postgresql_synchronous_mode_strict |string |d(false, true) |lower }}
    synchronous_node_count: {{ postgresql_synchronous_node_count |d(1, true) |int }}
    postgresql:
      use_pg_rewind: {{ postgresql_use_pg_rewind }}
      use_slots: {{ postgresql_use_slots }}
      parameters:
{% for key, value in (__postgresql_parameters|combine(postgresql_parameters)).items() %}
        {{ key }}: "{{ value }}"
{% endfor %}

  initdb:
  - encoding: {{ postgresql_encoding }}
  - locale: {{ postgresql_locale }}
  - data-checksums

  pg_hba:
  - local all all                               trust
  - host  all all                  127.0.0.1/32 md5
  - host  all all                  0.0.0.0/0    md5
  - local replication  all                      trust
  - host  replication  all         127.0.0.1/32 md5
  - host  replication  replication 0.0.0.0/0    md5
  users:
   replication:
      password: {{ postgresql_replication_password }}
      options:
        - replication

postgresql:
  listen: "{{ postgresql_listen }},127.0.0.1:{{ postgresql_port }}"
  connect_address: {{ postgresql_hostname_ip }}:{{ postgresql_port }}
  data_dir: {{ postgresql_data }}
  bin_dir: {{ postgresql_bin }}
  use_unix_socket: true
  pgpass: /tmp/.pgpass_patroni
  authentication:
    replication:
      username: replication
      password: {{ postgresql_replication_password }}
    superuser:
      username: postgres
      password: {{ postgresql_postgres_password }}
  parameters:
    unix_socket_directories: {{ postgresql_unix_socket_dir }}
  create_replica_methods:
        - basebackup
  basebackup:
        max-rate: 100M
        checkpoint: fast
  remove_data_directory_on_rewind_failure: {{ postgresql_use_pg_rewind }}
  remove_data_directory_on_diverged_timelines: {{ postgresql_use_slots }}
tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false
log:
  dateformat: '%Y-%m-%d %H:%M:%S'
  dir: /var/log/patroni
  file_num: 4
  file_size: 25000000
  format: '%(asctime)s %(levelname)s: %(message)s'
  level: INFO
  loggers:
    patroni.postmaster: INFO
    urllib3: INFO
  max_queue_size: 1000
  traceback_level: ERROR
