# {{ ansible_managed }}
# TYPE      DATABASE                 USER                     ADDRESS                  METHOD
{% for client in postgresql_pg_hba %}
  {{ client.type.ljust(10) |default('host') }}{{ client.database.ljust(25) |default('all') }}{{ client.user.ljust(25) |default('all') }}{{ client.address.ljust(25) |default('') }}{{ client.method |default('md5') }} {{ client.options |default(None) }}
{% endfor %}
# Allow replication connections from localhost, by a user with the
# replication privilege.
  local      replication              all                trust
